body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
<<<<<<< HEAD
  font-size: 12px;
=======
  font-family:Helvetica;
>>>>>>> 8acc1d54881daee7b3a6c4c18174a5339d90441a
}

#tasks .completed {
  background:#ccc;
  text-decoration: underline;
}